<%- include("./partials/header") %>
  <h2>Editar Registro</h2>
  <form action="/user/edit/<%= data._id %>" method="POST">
    <input type="text" value="<%= data.name %>" name="name" />
    <input type="text" value="<%= data.surname %>" name="surname" />
    <br />
    <button><a href="/user/show">Todos</a></button>
    <button type="submit">Editar</button>
  </form>
<%- include("./partials/footer") %>
