<%- include("../partials/header") %>
  <h2>Editar Registro</h2>
  <% data.forEach(function(details) { %>
  <form action="/user/edit/<%= details._id %>" method="POST">
    <input type="text" value="<%= details.name %>" name="name" />
    <input type="text" value="<%= details.surname %>" name="surname" />
    <br />
    <button><a href="/user/show">Todos</a></button>
    <button type="submit">Editar</button>
  </form>
  <% }) %>
</form>
<%- include("../partials/footer") %>