<%- include("../partials/header") %> 
<div class="container">
    <div>
        <form action="/campground/edit/<%= campground._id %> " method="POST">
            <div class="input-group">
                <input class="form-control" type="text" name="name" id="" value=<%= campground.name %> >
            </div>
            <div class="input-group">
                <input class="form-control" type="text" name="image" id="" value=<%= campground.image %>>
            </div>
            <div class="input-group">
                <input class="form-control" type="text" name="description" id="" value=<%= campground.description %>>
            </div>
            <div class="input-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/campground">Go Back!</a>
    </div>
</div>
<%- include("../partials/footer") %>